*.Rproj
.DS_Store
.R*
Annotations
Documentation
Models
Records
Model_backup.rds
_cache*
~*
Previous run
.Rproj.user
**/[Uu]ntitled.R
secrets.R
*.csv
*.html
Sessions*
Test_Sessions*
Grid_Search*
.pID*
Icon
desktop.ini
*.xlsx
*.rds
*cache
scrapbook*
*Icon
Icon
